.list-item {
  margin-bottom: 80px;
}
.main-title {
  text-transform: uppercase;
  margin-top: 80px;
  h3 {
    margin-top: 60px;
  }
}
.title-line1 {
  background: #1abc9c;
  height: 5px;
}
.banner2 {
	margin-bottom: 80px;
  h1,h2 {
    color: #fff;
  }
  h2 {
    text-align: center;
    margin-top: 90px;
  }
  .comment-box {
    color: #fff;
    margin-bottom: 20px;
  }
}
.sub-form2 {
  background: #50bcc0;
  form .message3-btn .submit {
    width: 220px;
  }
}
.services {
  margin-top: 60px;
}
